body{
    background: #000000;
}
.navbar-expand-sm .navbar-nav .nav-link{
    padding-left: 40px;
    padding-right: 40px;
    display: inline-block;
    position: absolute;
    top: 18px;
    text-indent: -9999px;
    height: 18px;
    width: 152px;
}
.a{
    text-align: center;
}
